<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    section {
      padding: 1rem;
      margin-bottom: 6rem;
    }

    section h2 {
      font-size: 2.25rem;
      font-weight: 600;
      margin-bottom: .5rem;
    }

    form h3 {
      font-size: 1.75rem;
      font-weight: 600;
      margin-bottom: .5rem;
    }

    label {
      display: block;
    }

    input {
      width: 100%;
      border: 1px solid darkgray;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <main class="max-w-6xl mx-auto p-4 py-12">
    <h1>Hello Flask</h1>

    <section>
      <h2>Flask 101</h2>

      {% with messages = get_flashed_messages() %}
      {{ messages }}
      {% if messages %}
      <div class="my-6">
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}

      <div class="w-1/3 mb-6">
        <form action="/url-shortener" method="POST" enctype="multipart/form-data" class="space-y-4">
          <h3>URL shortener</h3>
          <div>
            <label>Website URL</label>
            <input class="px-4 py-2" type="text" name="url">
          </div>

          <div>
            <label>Short Name</label>
            <input class="px-4 py-2" type="text" name="url_name">
          </div>

          <div>
            <button class="px-6 py-2 bg-blue-400 hover:bg-blue-500 rounded">Submit</button>
          </div>
        </form>
      </div>

      <div class="w-1/3">
        <form action="/file-url-shortener" method="POST" enctype="multipart/form-data" class="space-y-4">
          <h3>File path shortener</h3>
          <div>
            <label>File</label>
            <input class="px-4 py-2" type="file" name="file">
          </div>

          <div>
            <label>Short Name</label>
            <input class="px-4 py-2" type="text" name="url_name">
          </div>

          <div>
            <button class="px-6 py-2 bg-blue-400 hover:bg-blue-500 rounded">Submit</button>
          </div>
        </form>
      </div>
    </section>

    <section>
      <h2>OCR</h2>
      <form action="/ocr" method="POST" enctype="multipart/form-data">
        <label>Image</label>
        <input type="file" name="image" />
        <button>Submit</button>
      </form>
    </section>
  </main>
</body>

</html>